.chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 0 0;
    margin-top: 16px;
    background-color: #ffffff;
    padding: 20px 50px 10px 50px;
    border-radius: 15px;

    .left {
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 700px;
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 700px;
    }
}