.container {
  width: 450px;
  display: flex;

  .left {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;

    .base {
      height: 60px;
      display: flex;
      align-items: center;
  
      .field {
        color: #000000;
      }
  
      .input {
        flex: 1 0 0;
      }
    }
  }

  .right {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;

    .rm_relations {
      display: flex;
      flex-direction: column;

      .header {
        
      }
    }
  }
}
