.product_add {
  background-color: #ffffff;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 8px;
  padding: 8px;

  .header {
    display: flex;
    justify-content: space-between;

    .text {
      display: flex;
      align-items: center;

      .desc {
        margin-left: 6px;
        font-weight: 800;
        font-size: 20px;
        color: #949494;
      }
    }
  }

  .main {
    flex: 1 0 0;
    display: flex;
  }

  .footer {
    height: 100px;
    padding: 8px;
    display: flex;
    justify-content: flex-end;

    .reset {
      margin-left: 16px;
    }
  }
}
